.container {
    border: black solid 2px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 300px;
    width: 300px;
}

.square {
    font-size: 36px;
    border: black 2px solid;
}